.sign-in {
    width:480px;
    display:flex;
    flex-direction: column;
    margin: 5%;

    .title{
        margin:10px 0;
    }
    .buttons {
        display:flex;
        justify-content: space-between;
    }

}

